html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.box1{
    width: 100vw;
    height: 125vh;
    /* position: absolute; */
    background-color: rgb(119, 154, 191);
}
.box2{
    /* position: absolute; */
    width: 100vw;
    height: 125vh;
    background-color: rgb(28, 82, 82);
}
.box3{
    /* position: absolute; */
    width: 100vw;
    height: 125vh;
    background-color: rgb(174, 77, 198);
}
.box4{
    width: 100vw;
    height: 125vh;
    background-color: rgb(27, 27, 71);
}
.box5{
    width: 100vw;
    height: 125vh;
    background-color: rgb(66, 66, 122);
}
.box6{
    width: 100vw;
    height: 125vh;
    background-color: rgb(130, 108, 66);
}
.box7{
    width: 100vw;
    height: 125vh;
    background-color: rgb(207, 141, 141);
}
.maincontainer{
    position: absolute;
}
.round{
    width: 30rem;
    height: 30rem;
    border-radius: 30rem;
    background-color: rgb(141, 71, 211);
}
#ball1{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: whitesmoke;
    visibility: hidden;
}
.leftpanel
{
    height: 100vh;
    width: 50vw;
    background-color: rgb(50, 29, 70);
}
#text1{
    font-size: 4rem;
    color: white;
    visibility: hidden;
}
#text2
{
    font-size: 4rem;
    color: white;
    visibility: hidden;
}
#text3{
    font-size: 4rem;
    color: white;
    visibility: hidden;

}
#text4{
    font-size: 4rem;
    color: white;
    visibility: hidden;
}
#text5
{
    font-size: 4rem;
    color: white;
    visibility: hidden;
}
#text6{
    font-size: 4rem;
    color: white;
    visibility: hidden;
}
#text7{
    font-size: 4rem;
    color: white;
    visibility: hidden;
}

@media only screen and(max-width:1400)
{   html{
    font-size: 62.5%;
}
}


/* .bg-img-1 {
    background-image: url('https://images.unsplash.com/photo-1545575439-3261931f52f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
}

.bg-img-2 {
    background-image: url('https://images.unsplash.com/photo-1517649763962-0c623066013b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.bg-img-3 {
    background-image: url('https://images.unsplash.com/photo-1605050825077-289f85b6cf43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
} */

.carousel-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}